<div class="count-down-modal">
  <div class="modal-container" #showModal>
    <div class="segment">
      <p>{{ days }}</p>
      <h4>days</h4>
    </div>
    <span> : </span>
    <div class="segment">
      <p>{{ hours }}</p>
      <h4>hours</h4>
    </div>
    <span> : </span>
    <div class="segment">
      <p>{{ minutes }}</p>
      <h4>minutes</h4>
    </div>
    <span> : </span>
    <div class="segment">
      <p>{{ seconds }}</p>
      <h4>seconds</h4>
    </div>
    <button
      [disabled]="audioPlaying"
      [class.disabled]="audioPlaying"
      (click)="handleStartStop()"
      class="start-stop circular-btn"
    >
      <i *ngIf="isRunning" class="fas fa-pause"></i>
      <i *ngIf="!isRunning" class="fas fa-play"></i>
    </button>
    <button class="delete" (click)="abortTimer()">
      <i class="far fa-trash-alt"></i>
    </button>
    <button (click)="handleReset()" class="reset circular-btn">
      <i class="fas fa-redo-alt"></i>
    </button>
  </div>
</div>
