<section class="pomodoro-timer">
  <div class="settings-btn-group">
    <button
      class="mode-select"
      [class.active]="showSession"
      (click)="showSession = true"
    >
      Session
    </button>
    <button
      class="mode-select"
      [class.active]="!showSession"
      (click)="showSession = false"
    >
      Break
    </button>
  </div>
  <div class="settings-container">
    <app-session [style.display]="showSession ? 'block' : 'none'"></app-session>
    <app-break [style.display]="!showSession ? 'block' : 'none'"></app-break>
  </div>
  <div class="start-container">
    <button class="btn btn-primary" (click)="startTimer()">Start</button>
  </div>
  <app-count-down-modal
    *ngIf="isStarted"
    [startTime]="isSession ? sessionTime : breakTime"
    (timerEnded)="handleTimerEnd()"
    (deleteTimer)="handlerTimerDelete()"
  ></app-count-down-modal>

  <div *ngIf="isStarted" class="modal-cover">
    <h1 class="title" [title]="isSession ? 'Study Hard' : 'Break Time'">
      {{ isSession ? "Study Hard" : "Break Time" }}
    </h1>
  </div>
</section>
